.paths{
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}

.link_path{
    cursor: pointer;
}

.link_path:hover{
    color: rgb(49, 102, 117);
}

.container {
    display: flex;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100vw;
  }
  
  .left-column,
  .middle-column,
  .right-column {
    flex: 1;
  }

  .left-column{
    padding-left: 30px;
    max-width: 50vw;
  }

  .right-column{
    padding-right: 20px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25vh;
  }
  
  .middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: -20px;
  }
  
  img {
    max-width: 100%;
    border-radius: 30px;
  }

  .img_left{
    max-width: 650px;
    max-height: 80vh;
    height: 70vh;
    border-radius: 30px;
  }

  .img_center{
    margin-bottom: 20px;
    border-radius: 30px;
    max-width: 300px;
  }

  .desc_body{
    overflow-x: hidden;
  }