::-webkit-scrollbar {
  width: 0.90vw;
}

/* Cor do fundo da scrollbar */
::-webkit-scrollbar-track {
  background: rgba(55, 96, 168, 0);
}

/* Cor do grip (alça) da scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #d4b2a7;
  border-radius: 5px;
  cursor: pointer;
  height: 2px;
}

#sobre{
  scroll-margin-top: 50px;
}

#projeto{
  scroll-margin-top: 40px;
}

body{
  background: linear-gradient(180deg, #ede9e3 60%, #e7d7c9 100%);
}