.slider{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    background: linear-gradient(180deg, #e7d7c9 60%, #ede9e3 100%);
}

.slider_image{
    max-height: 20vh;
    border-radius: 30px;
    transition: 2s;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.slider_image {
    opacity: 0;
    max-width: 90vw;
    max-height: 50vh;
    display: none;
    transition: opacity 1s ease-in-out; /* Adiciona a transição de fade */
}

.slider_image.active {
    opacity: 1;
    display: flex;
}

@media screen and (min-width:800px) {
    .slider_image{
        max-height: 70vh;
        max-width: 70vw;
    }
  }

  @media screen and (min-width:1200px) {
    .slider_image{
        max-height: 70vh;
        width: 100vw;
    }
  }

  .slider_button{
    border-radius: 300px;
    height: 20px;
    width: 20px;
    margin: 1vw;
    background-color: #d4b2a7;
    border-style: none;
  }

  .container_buttons{
    justify-content: center;
    display: flex;
  }
  
  .active{
    background-color: #a38a82;
  }